footer {
    min-height: 500px;
    margin-top: -4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem 0;
}

.footer-logo {
    width: 80px;
    height: 80px;
    margin: 5px;
}

.footer-texto {
    font-size: 1.7rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    text-shadow: 0 0 19px #e0cb16;
}

.iconos-redes-sociales {
    padding: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -20px;
}

.iconos-redes-sociales a {
    text-decoration: none;
    margin: 10px;
    padding: 2px;
    border-radius: 50%;
    border: 2px solid #fff;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
    border:3px solid #e0cb16; /* Añade un color de borde diferente al pasar el cursor */
    box-shadow: 0px 0px 13px 12px #e0cb16;
}

.iconos-redes-sociales i {
    color: #fff;
    font-size: 1.7rem;
}

