/*S̅T̅Y̅L̅E̅ H̅E̅A̅D̅E̅R̅*/
.cabecera{ 
    overflow:-moz-hidden-unscrollable;  padding: 1rem;}
.cabecera a{ color: white;

display: flex;
flex-direction: column;
flex-wrap: wrap;

}
.cabecera a:hover{color: #e8e8f0; text-decoration: underline;}
.cabecera div{padding: 1px;}
.page-header{ margin: auto; display: -webkit-inline-flex; margin-top: 0.3em; text-align: center;}
.page-header img{padding: 4px;}
@media screen and (max-width:1299px){
    .page-header img{display: none;}
}

@media screnn and (max-width:498px){
    .cabecera{
        padding: 0px;
        width: 100%;
    }

    .cabecera h1{
        font-size: 12px;
    }

    .cabecera .nav-item{
        margin: 0px;
    }
}
/*E̲N̲D̲ S̲T̲Y̲L̲E̲ H̲E̲A̲D̲E̲R̲*/