.share-tech-mono-regular {
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
}


:root{
    --borde-element:1px solid black;
}

.testimonios{
   /* border:var(--borde-element);*/
    width: 100%;
    padding: 10px 40px 10px 40px;
    margin-bottom: 3rem;
}

.testimonios h3{
    color: #584e4e;
}

.testimonios .carousel{
    max-width: 800px;
}

.carousel-item{
    height: 500px;
}

.carousel-item .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d0c9c9;
    border-radius: 15px;
}

.testimonios-imagen{
    height: 155px;
    width: 155px;
    margin: 10px 10px 1px 10px;
    border-radius: 100%;
    border: 4px double black;
}

.testimonios-texto{
    padding: 5px 10px 0px 10px;
    text-align: center;
    max-width: 70%;
    font-family: "Share Tech Mono", monospace;
    font-size: 20px;
}

.testimonios-info{
    padding: 0px;
    text-align: center;
    font-weight: bolder;
}

.testimonios-info .cliente{
    margin: 14px 0px 0px 0px;
    font-size: 1.5rem;
}

.testimonios-info .cargo{
    margin: 0px;
    font-size: 1rem;
    color: #584e4e;
    text-decoration: overline;
}


@media screen and (max-width:601px) {
    
    .testimonios h3{
        font-size: 10px;
    }
    
    .testimonios-imagen{
        height: 110px;
        width: 110px;
        margin: 5px 5px 5px 10px;
    }
    
    .testimonios .testimonios-texto{
        font-size: .8rem;
    }

    .testimonios-info .cliente{
        margin: 20px 0px 0px 0px;
        font-size: .9rem;
        
    }
    
    .testimonios-info .cargo{
        margin: 0px;
        font-size: .6rem;
        color: #584e4e;
        padding-bottom: 10px;
    }
}

@media screen and (max-width:760px) {
    .testimonios{
        padding: 5px;
    }

    .testimonios .testimonios-texto{
        font-size: .9rem;
    }
}