/*🆂🆃🆈🅻🅴🆂 🅵🅾🆁 🆂🅴🅲🆃🅸🅾🅽🆂*/
:root{
  --borde-elemento: 1px solid black;
}

          /*SECCIÓN PROYECTOS*/
        .proyectos-recientes{
          /*border: var(--borde-elemento);*/
          padding: 2em;
          width: 100%;
        }

        .seccion-descripcion{
          font-size: 1.2rem;
          color:#584e4e;
          margin-top: 2px;
          padding: 3px;
          /*border: var(--borde-elemento);*/
        }

        .proyectos-recientes img{
          width: 290px;
          height: 230px;
          padding: 3px;
          margin: 10px;
          border-radius: 20px;
          display: block;
          transition: all .2s ease;
          background-color: #44447a;
          color: #e2e2ea;
          text-align: center;
          text-justify:inter-cluster;
          font-size: 20px;
          font-style: italic;
          font-weight: bold;
        }

        .proyectos-contenedor{
          /*padding-top: 20px;
          margin-bottom: 20px;
          background-color: brown;
          border: var(--borde-elemento);*/         
          
          width: 100%;
          padding: 0px;
          display: flex;
          flex-direction: row;
          justify-content:center;
          flex-wrap: wrap;
          
        }

        .overlay{
          transition: all .2s ease-in;
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          text-align: center;
        }

        .overlay p{
          font-size: 28px;
          font-weight:bold;
          border-bottom: 0px;
        }

        .overlay .iconos-contenedor{
          display: flex;
        }

        .overlay i{
          color: black;
          font-size: 60px;
          margin: 10px;
        }

        .overlay i:hover{
          color: #e2e2ea;
          background-color: #0a0a0a;
          border-radius: 100%;
        }

        .proyecto{
          position: relative;
        }
        

        .proyecto:hover img{
          opacity: 0.3;
          border: var(--borde-elemento);
          
        }

        .proyecto:hover .overlay{
          opacity: 1;
        }

        @media screen and (max-width:400px){
          .seccion-descripcion{
            display: none;
          }

          .proyectos-recientes h2{
            font-size: 22px;
            padding: 3px;
            width: 100%;  
            padding-bottom: 4px;
            border-radius: 5px;
            background: #1b1b32;
            color: #e2e2ea;
          }

          .proyectos-recientes img{
            margin: 1px;
          }
        }
      /*FIN DE LA SECCIÓN PROYECTOS*/