:root {
    --borde-element: 4px double #fff;
}

.contacto {
    border: var(--borde-element);
    width: 100%;
    max-width: 700px;
    padding: 1.2rem;
    border-radius: 30px;
    background-color: rgb(13, 110, 253);
    box-shadow: 5px 5px 20px 1px #ffffff;
    color: #fff;
    margin: auto;
    z-index: 1;
}

.contacto-titulo {
    font-family: "Rubik Dirt", sans-serif;
    font-size: 1.8rem;
}

.contacto .contacto-descripcion {
    color: #fff;
    font-size: 1.1rem;
}

.contacto .boton {
    color: #fff;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 1.25em 2em;
    border-radius: 100px;
    margin: 10px;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.contacto .boton:hover {
    color: #0c0c0c;
    border-color: #0c0c0c;
}

.contacto .boton i {
    color: #fff;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
    margin-left: 0.5em;
}

.contacto .boton:hover i {
    color: #0c0c0c;
}

.num-contacto{
    font-size: 1.4rem;
    font-weight: bolder;
    text-align: center;
    text-shadow: 2px 1px 1px black;
    margin: 0px;
}