/*🆂🆃🆈🅻🅴🆂 🅵🅾🆁 🆂🅴🅲🆃🅸🅾🅽🆂*/

  /*ⓢⓔⓒⓣⓘⓞⓝ ⓐⓑⓞⓤⓣ ⓜⓔ*/
    /*SELECTORES DE CLASE:*/
    .about-me{ width: 100%; padding: 2rem; background-color: #0a0a23; color: white;}
    .about-me section{ width: 100%; padding: 2rem; margin: auto;}
    .about-me h2{font-family: "Rubik Dirt"; font-size: 2.5rem;}
    .about-me p{ padding: 1rem; width: 70%; text-align: center; margin: auto; font-size: 1.5em;}
    .about-me a{ color: white; padding: auto;}
    .about-me a:hover{text-decoration: underline;}

    @media screen and (max-width:498px) {
    .about-me, p, h2{
      border:1px solid yellow;
    }

    .about-me
    {
      padding: 0px;
      margin: 0px;
    }
      .about-me p{
        width:100%;
        font-size: 18px;
        text-align: justify;
      }
    }
  /*ⓔⓝⓓ ⓢⓔⓒⓣⓘⓞⓝ ⓐⓑⓞⓤⓣ ⓜⓔ*/