/*🆂🆃🆈🅻🅴🆂 🅵🅾🆁 🆂🅴🅲🆃🅸🅾🅽🆂*/

  /*𝖘𝖊𝖈𝖙𝖎𝖔𝖓 𝖍𝖊𝖗𝖔*/
  :root{
    --borde-elemento: 1px solid black;
  }
    /*SELECTOR DE TIPO:*/

  /*SELECTORES DE CLASE:*/
    .sectionHero{
      width: 100%;
      padding: 2rem; 
      margin: 0px; 
      justify-content: center; 
      text-align: center;
      
    }



    .sectionHero img{ padding: 0px; height: 18em; width: 18em; border-radius: 50%; background: transparent; margin: 1.5em; border: 4px double black; margin-top: 0px;}
    .sectionHero h1{ font-family: "Ephesis"; font-size: 3.7em; font-weight: bold; text-align: center;}
    .sectionHero p{text-align: center; width: 90%; padding: 1rem; margin: auto; font-size: 2rem;}
    .sectionHero span{text-align: center; align-items: center;width: 100%; margin: auto;}
    .sectionHero a{ padding: 1px;}
    .sectionHero a:hover{ text-decoration: underline; color: #0a0a23;}

    .imgInferior{
      width: 50em;
      height: 25em;
      margin: 0px;
      width: 99.9%;
      
    }
    
    @media screen and (min-width:700px){
      .sectionHero img{max-width: 600px;}
    }
    
    @media screen and (max-width:658px){
      .sectionHero img{
        width: 5em;
        height: 5em;
        margin: 5px;
      }

      .sectionHero h1{
        font-size: 20px;
        width: 100%;
        padding: 0px;
        margin: 5px;
      }

      .sectionHero p{
        font-size: 18px;
        text-align: justify;
        width: 100%;
        padding: 0px;
        margin-top: 15px;
        
      }

      .imgInferior{
        display: none;
      }
    }
    /*𝖊𝖓𝖉 𝖘𝖊𝖈𝖙𝖎𝖔𝖓 𝖍𝖊𝖗𝖔*/